In [1]:
# Reverse list
list1 = [100, 200, 300, 400, 500]
print(list1[::-1])

[500, 400, 300, 200, 100]

In [4]:
# merge two list
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
sol = [x+y for x,y in zip(list1,list2)]
sol

['My', 'name', 'is', 'Kelly']

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7]
sol = list(map(lambda x: x**2,numbers))
sol

[1, 4, 9, 16, 25, 36, 49]

In [16]:
# concantinate two list
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
y = [x+y for x in list1 for y in list2]
y

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [19]:
#Iterate both lists simultaneously
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2=list2[::-1]
for i,j in zip(list1,list2):
    print(i,j)

10 400
20 300
30 200
40 100

In [29]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

result = []
for item in list1:
    if item != "":  
        result.append(item)

print(result)

['Mike', 'Emma', 'Kelly', 'Brad']

In [43]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [48]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

for i in sub_list:
    list1[2][1][2].append(i)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [57]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
list1

[5, 10, 15, 200, 25, 50, 200]

In [60]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i == 20:
        list1.remove(i)
list1

[5, 15, 25, 50]