# Pandas is Python library used for data analysis and data manipulation.
# It provides data structures (mainly Series and DataFrame) that make it easy to work with structured data (like tables, spreadsheets, databases).
# Series → one-dimensional labeled array (like a column in Excel).
# DataFrame → two-dimensional labeled data structure (like an Excel sheet or SQL table).
With Pandas, you can:
#  --->Load data from CSV, Excel, JSON, SQL, etc.
#  --->Clean, filter, and transform datasets.
#  --->Perform calculations and aggregations.
#  --->Handle time-series and missing values.
#  --->Merge, join, and reshape datasets.
⚡ In short:
# Pandas = Python’s data handling powerhouse, making raw data analysis-friendly.

In [ ]:
import pandas as pd
data = {
    "personas":["narsimha","sai","ganesh","abhi"],
    "ages":[25,24,27,26]
}
vals = pd.DataFrame(data)
print(vals)

In [4]:
print(pd.__version__)

2.3.2

In [5]:
a = [1,2,3,4,6]
myvar = pd.Series(a)
print(myvar)

0    1
1    2
2    3
3    4
4    6
dtype: int64

In [ ]:
# lables = Is a name or identifier to use access the data inside 'series' or 'DataFrame'
# It works like an index name for rows and a column name for columns

In [7]:
lst = [2,3,4,55,6]
data = pd.Series(lst,index = ["a","b","c","d","e"])
data

a     2
b     3
c     4
d    55
e     6
dtype: int64

In [13]:
data = {
    "Name":["Narsimha","ganesh","sai","Abhi"],
    "ages":[25,27,24,26]
}
myvar = pd.DataFrame(data,index = ['a','b','c','d'])
print(myvar)

       Name  ages
a  Narsimha    25
b    ganesh    27
c       sai    24
d      Abhi    26

In [16]:
data = {"name":"Narsimha","age":25,"disgnation":"Softawre"}
vals = pd.Series(data,index=["name","age"])
print(vals)

name    Narsimha
age           25
dtype: object

In [23]:
data = {
    "Name":["Narsimha","ganesh","sai","Abhi"],
    "ages":[25,27,24,26]
}
df = pd.DataFrame(data)
print(df.loc[[0,1]]) # loc is used to return a one or more specified columns

       Name  ages
0  Narsimha    25
1    ganesh    27

In [28]:
#Named indexs
data = {
    "claories":[280,450,300,270],
    "duration":["50 mins","70 mins","1 hour","30 mins"]
}
myVar = pd.DataFrame(data,index=["day1","day2","day3","day4"])
print(myVar)

      claories duration
day1       280  50 mins
day2       450  70 mins
day3       300   1 hour
day4       270  30 mins

In [33]:
# Read CSV format data
read = pd.read_csv("Saqe_sev.csv")
pd.options.display.max_rows = 99999
print("rows count",pd.options.display.max_rows)
print(read.to_string())

SyntaxError: invalid syntax (1239597971.py, line 5)

In [35]:
# read json format data
read_json = pd.read_json("data.json")
print(read_json.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [38]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

dp = pd.DataFrame(data)
print(dp.to_string())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [44]:
# head = head is used to return the specified number of rows from the top
read = pd.read_csv("Saqe_sev.csv")
print(read.head(11).to_string())

   Sprint ID TC_ID  Category                                                                   Test Case Description Test Result  Defect ID                                    Defect Description       Root cause Analysis Defect Severity
0      Spr 1   TC1        UI          Verify whether the user is able to click on Reject RRF from pop-up dialog box.        Fail      101.0                         Unable to click on the button    Code Integration issue            Sev1
1      Spr 1   TC2        UI  Verify whether the user is able to click on Cancel button in Reject pop-up dialog box.        Fail      102.0              Cancel button is not working as expected  Code missed to integrate            Sev2
2      Spr 1   TC3        UI                                     Verify User able to Click on Action Button(3 Dots).        Pass        NaN                                                   NaN                       NaN             NaN
3      Spr 1   TC4        UI                                           Verify User able to Click on Status dropdown.        Pass        NaN                                                   NaN                       NaN             NaN
4      Spr 1   TC5       API                 Verify Hiring manager/Approver/RMG  able to click On Create Job Button.        Fail      103.0            Page 404 error upon clicking on Job button          API Service down            Sev2
5      Spr 1   TC6       API                                            Verify User able to click on Filters Button.        Fail      104.0             Filter options not shown in the drop down   Database not responding            Sev3
6      Spr 1   TC7       API                                           Verify user able to click on the back button.        Fail      105.0                                 Seeing 404 error page          API Service down            Sev1
7      Spr 1   TC8       API         Verify whether the user is able to click on the submit for the approval button.        Pass        NaN                                                   NaN                       NaN             NaN
8      Spr 1   TC9  Database                                Verify User able to edit the Permissions in Share popup.        Pass        NaN                                                   NaN                       NaN             NaN
9      Spr 1  TC10  Database                          User able to modify the details in the budget evaluation page.        Fail      106.0  Modified details are not injecting into the database   Database not responding            Sev1
10     Spr 1  TC11  Database   Verify whether the user is able to select one or more practices in the Filter window.        Pass        NaN                                                   NaN                       NaN             NaN

In [45]:
# tail() method for viewing the last rows of the DataFrame.
read = pd.read_csv("Saqe_sev.csv")
print(read.tail().to_string())

   Sprint ID TC_ID     Category                                                                   Test Case Description Test Result  Defect ID                              Defect Description Root cause Analysis Defect Severity
70     Spr 5  TC11     Database   Verify whether the user is able to select one or more practices in the Filter window.        Pass        NaN                                             NaN                 NaN             NaN
71     Spr 5  TC12     Database  Verify whether the user is able to select one or more RRF status in the Filter window.        Fail      107.0  Multiple selection is not allowed for the user    DB services down            Sev3
72     Spr 5  TC13  Integration                            Verify whether the user is able to click on Download button.        Pass        NaN                                             NaN                 NaN             NaN
73     Spr 5  TC14  Integration                    Verify User able to select multiple checkboxes in location dropdown.        Pass        NaN                                             NaN                 NaN             NaN
74     Spr 5  TC15  Integration                RRF - Verify User able to create RRF without entering Mandatory Details.        Pass        NaN                                             NaN                 NaN             NaN

In [49]:
data = {"name":"Narsimha","age":21}
read = pd.DataFrame(data,index=["a","b"])
print(read.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 48.0+ bytes
None

In [50]:
 
data = {
    "A":[1,3,4],"B":["apple","mango","gova"]
}
read = pd.DataFrame(data,index=['I',"II","III"])
print(read)

     A      B
I    1  apple
II   3  mango
III  4   gova